/*Logo and slogan*/

/*menu block*/
.menu-link {
    display: block;
    color: #666;
    text-shadow: 0 2px 0 #efefef;
    text-decoration: none;
    height: 2.75rem;
    line-height: 2.75rem;
    border-bottom: 1px solid #bbb;
    position: relative;
}
.menu-link-home {
  &::before {
    content: "♥";
  }
}
.menu-link-about {
  &::before {
    content: "♣";
  }
}
.menu-link-blog {
  &::before {
    content: "♠";
  }
}
.menu-link-contact {
  &::before {
    content: "♦";
  }
}
@media screen and (max-width: 59rem) {
  .logo {
    width: 60px;
  }
}
