@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/gradients';
@import 'reset';
@import 'variables';
body {
  padding: 1rem;
  background-color: $background-color;
}
img {
  max-width: 100%;
}
/*Logo and slogan*/

/*menu block*/
.cardLink {
    display: block;
    color: #666;
    text-shadow: 0 2px 0 #efefef;
    text-decoration: none;
    height: 2.75rem;
    line-height: 2.75rem;
    border-bottom: 1px solid #bbb;
    position: relative;
}
/*IntroWrapper*/
.IntroWrapper {
  clear: both;
}
/*Media Queries*/
/*iphone5*/
@media screen and (min-width: 320px) {

}
/*iphone6*/
@media screen and (min-width: 375px) {

}
/*iphone6 plus*/
@media screen and (min-width: 414px) {

}
/*ipad*/
@media screen and (min-width: 1024) {

}
@media screen and (min-width: 60rem) {
  .introWrapper {
    table-layout: fixed;
    width: 100%;
    display: table;
  }
  .introText,
  .moneyShot {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: center;
  }
  .introText {
    padding: 0.5rem;
    text-align: left;
    font-size: 1.2rem;
  }
  .ingredients {
    font-size: 0.9rem;
    float: right;
    padding: 1rem;
    margin: 0 0 0.5rem 1rem;
    border-radius: 3px;
    background-color: #ffffdf;
    border: 2px solid #e8cfa9;
  }
  .ingredients h3 {
    margin: 0;
  }
}
