@import 'variables';
@import 'reset';
@import 'header';

/*top-section*/
.blog-article {
  clear: both;
  width: 100%;
  box-sizing: border-box;
}
.blog-title, article-figure {
  padding: 0.5rem;
}
/*bottom-section*/
.section-left-content, .section-right-content {
  font-size: 0.9rem;
  box-sizing: border-box;
  padding: 0.5rem;
}
/*footer*/
footer {
  clear: both;
}
/*Media Queries*/
/*iphone5*/
@media screen and (min-width: 320px) {

}
/*iphone6*/
@media screen and (min-width: 375px) {

}
/*iphone6 plus*/
@media screen and (min-width: 414px) {

}
/*ipad*/
@media screen and (min-width: 1024) {

}
@media screen and (min-width: 60rem) {
  .blog-article {
    table-layout: fixed;
    width: 100%;
    display: table;
  }
  .blog-title,
  .article-figure {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: center;
  }
  .blog-title {
    padding: 0.5rem;
    text-align: left;
    font-size: 1.2rem;
  }
  section.text-content {
    width: 100%;
    float: right;
  }
  div.section-left-content {
    width: 70%;
    float: left;
  }
  div.section-right-content {
    width: 30%;
    float: left;
  }
}
