@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/gradients';
@import 'variables';

body {
  padding-bottom: 20px;
  padding-top: 20px;
}

%block {
  padding-left: 15px;
  padding-right: 15px;
  color: $color-tapa-approx;
}

.header {
  @extend %block;
  border-bottom: 1px solid $mercury;

  h3 {
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 19px;
  }
}

@mixin paragraph($colour: $mercury, $size: 12px) { // Mixin for paragraphs
  border-radius: 5px;
  background-color: $colour;
  @include gradient-directional($gray, $white, 45deg);
  font-size: $size;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 5px;
}

.container {
  margin: 30px 0;

  .selector- {

    &a {
      font-weight: bold;
    }

    &a, &b {
      @include paragraph($size: 16px);
      padding-left: 5px;
      list-style-type: none;
    }
  }

}

.footer {
  @extend %block;
  border-top: 1px solid $mercury;
}
