node_modules
dist
.DS_Store
.tmp
docs/
.sass-cache
app/bower_components
app/styles/*.css
app/scripts/templates.js
scss-lint-report.xml
*.iml
npm-debug.log
coverage/
.idea
.idea/
npm-debug.log
src
phantomjsdriver.log
.DS_Store
/nbproject/private/
test/e2e/screenshots/*.png
nbproject/
mocha.txt
test/yslow/reports/yslow.xml
