<article class="blog-article">
  <section class="media-content">
    <h4 class="blog-title">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </h4>
    <figure class="article-figure">
      <img class="article-img" src="images/img-2000x1045.png" alt="Incredible scones" />
      <figcaption class="article-img-caption">Incredible scones, picture from Wikipedia</figcaption>
    </figure>
  </section>
  <section class="text-content">
    <p>Left content of the article</p>
    <div class="section-left-content">
      <h3>Main Info</h3>
      <ol>
        <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
        <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
        <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
        <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
        <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
        <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
      </ol>
    </div>
    <div class="section-right-content">
      <h3>Additional info</h3>
      <ul>
        <li>Morbi in sem quis dui placerat ornare.</li>
        <li>Morbi in sem quis dui placerat ornare.</li>
        <li>Morbi in sem quis dui placerat ornare.</li>
        <li>Morbi in sem quis dui placerat ornare.</li>
        <li>Morbi in sem quis dui placerat ornare.</li>
        <li>Morbi in sem quis dui placerat ornare.</li>
        <li>Morbi in sem quis dui placerat ornare.</li>
      </ul>
    </div>
    </section>
</article>
